[Desktop Entry]
Encoding=UTF-8
Name=@applicationName@
Comment=@projectDescription@
Terminal=false
Type=Application
Categories=Network;Viewer;RemoteAccess
Exec=/opt/company/@projectName@/@projectName@
Icon=@projectName@.png
